header {
	position: fixed;
	background-color: white;
	width: 100%;
	top: 0;
	height: 70px;
	display: flex;
	align-items: center;
	z-index: 999;

	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0;
	}
}


header h1 {
	font-size: 20px;
	text-transform: none;
	background-color: $colourAccent;
	border-radius: 50%;
	color: white;
	padding: 10px;
	font-family: $fontBody;
	letter-spacing: 0;
}

header ul {
	margin: 0;
	padding: 0;

	li {
		display: inline;
		margin-right: 10px;
		text-transform: capitalize;
		letter-spacing: 2px;
		padding-left: 30px;
		position: relative;
	}

	a {
		font-size: 14px;
		letter-spacing: 2px;
		color: $colourBody;
		text-transform: uppercase;
		transition: all 0.4s ease;

		&:after {
			content: "";
			width: 0px;
			height: 1px;
			background-color: $colourAccent;
			position: absolute;
			bottom: 0;
			left: 30px;
			transition: all 0.4s ease;
		}

		&:hover {
			color: $colourAccent;
			border-bottom: none;
			
			&:after {
				width: 30px;
			}
		}
	}
}

.hamburger {
	float: right;
	display: none;
	width: 30px;
	height: 20px;
	transform: rotate(0deg);
	transition: .5s ease-in-out;
	cursor: pointer;

	span {
		display: block;
		position: absolute;
		height: 2px;
		width: 100%;
		background: $colourAccent;
		border-radius: 9px;
		opacity: 1;
		left: 0;
		transform: rotate(0deg);
		transition: .25s ease-in-out;
	}

	span:nth-child(1) {
	  top: 0px;
	  transform-origin: left center;
	}

	span:nth-child(2) {
	  top: 10px;
	  transform-origin: left center;
	}

	span:nth-child(3) {
	  top: 20px;
	  transform-origin: left center;
	}
}

.hamburger.open {
	span:nth-child(1) {
	  transform: rotate(45deg);
	  top: -3px;
	  left: 8px;
	  background: white;
	}

	span:nth-child(2) {
	  width: 0%;
	  opacity: 0;
	}

	span:nth-child(3) {
	  transform: rotate(-45deg);
	  top: 18px;
	  left: 8px;
	  background-color: white;
	}
}

.responsiveNav {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	height: 100vh;
	width: 100vw;
	top: 0;
	right: -100vw;
	bottom: 0;
	background-color: $colourAccent;
	display: flex;
	transition: all 0.4s ease;

	
	ul {
		margin: auto;
		display: flex;
		flex-direction: column;
	}

	li {
		display: block;
		width: 100%;
		text-align: right;
		margin: 10% 0;
		text-align: center;
	}

	a {
		color: white;
		font-size: 30px;
		letter-spacing: 3px;

		&:hover {
			color: white;
		}
	}
}